@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bg-theme{
    background-color: rgb(15 23 42 / 1);
}

.bg-light-back{
    background-color: #697565;
}

.bg-light{
    background-color: #ECDFCC;
}

.orbitron {
    font-family: "Orbitron", sans-serif;
  }